body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background: #FFFFFF;
    height: 15vh;
    position: sticky !important;
    top: 0 !important;
    z-index: 10 !important;
}
.navbar-brand img{
    height: 15vh;
    margin-left: 2rem;
    margin-right: 6rem;
    margin-top: -1rem;
}
.nav-link{
    margin-right: 1.5rem !important;
    color: #3E4265!important;
    font-family: Manrope, sans-serif !important;
    font-size: 16px !important;
    font-weight: bold !important;
}
.nav-link:hover{
    color: #6366F1 !important;
}
.btnButton{
    background: orangered !important;
    color: #fff !important;
    height: 8vh !important;
    margin-top: -0.3rem !important;
    padding: 0.7rem;
    border-radius: 0.5rem !important;
}
.hero{
    background: url("..//img/kimg3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    height: 100vh;
    padding: 1rem;
}
/* Slideshow container */
.slideshow-container {
    position: relative;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    font-weight: bold;
    font-size: 20px;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .dot-container {
      text-align: center;
      padding: 20px;
  }
  .dot {
    cursor: pointer;
    margin: 0 2px;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background-color: #717171;
  }
button{
    border: none;
    outline: none;
    background: #6366F1;
    color: #fff;
    padding: 1rem;
    border-radius: 1rem !important;
}
.mySlides h1{
    text-align: center;
    font-size: 80px;
    font-family: Manrope, sans-serif;
    color: #FFFFFF;
    font-weight: bold;
}
.mySlides p{
    text-align: center;
    font-family: Manrope, sans-serif;
    color: #000;
    font-size: 20px;
}
.toggle-icon{
    display: none;
}
@media screen and (max-width:600px) {
    .toggle-icon{
        display: block;
    }
    .toggle-icon i{
        font-size: 23px;
        cursor: pointer;
    }
    .mySlides h1{
        font-size: 50px;
    }
    .mySlides p{
        font-size: 15px;
    }
}
@media screen and (max-width:400px) {
    .toggle-icon{
        display: block;
    }
    .toggle-icon i{
        font-size: 23px;
        cursor: pointer;
    }
    .mySlides h1{
        text-align: center;
        font-size: 50px;
    }
    .mySlides p{
        font-size: 15px;
    }
}